<div class="grid kt-rel kt-list kt-height">
  <div class="col-12 kt-height">
    <p-dataView
      #dv
      class="kt-block kt-height"
      [value]="items"
      [totalRecords]="items?.length"
      [rows]="rows"
      [layout]="layout"
      [filterBy]="filterBy"
      [trackBy]="trackBy"
      [sortField]="sortField"
      [sortOrder]="sortOrder"
      [first]="first"
      [paginator]="paginator"
      [rowsPerPageOptions]="rowsPerPageOptions"
      [alwaysShowPaginator]="alwaysShowPaginator"
      [paginatorPosition]="paginatorPosition"
      [pageLinks]="pageLinks"
      [loading]="loading"
      [loadingIcon]="loadingIcon"
      [lazy]="lazy"
      [lazyLoadOnInit]="lazyLoadOnInit" 
      [gridStyleClass]="gridStyleClass"
      [styleClass]="styleClass"
      [emptyMessage]="emptyMessage"
    >

    <ng-template pTemplate="header">
      <ng-container *ngIf="!!headerTpl; else listDefaultHeader">
        <ng-container *ngTemplateOutlet="headerTpl"></ng-container>
      </ng-container>
    </ng-template>
      
      <!-- <ng-template let-items [pTemplate]="layout"> -->
      <ng-template let-items pTemplate="list">
          <kt-list-item *ngFor="let item of items; let first = first" [config]="item"></kt-list-item>
      </ng-template>

      
      @if(footerTpl){
      <ng-template pTemplate="footer">
        <ng-container *ngTemplateOutlet="footerTpl"></ng-container>
      </ng-template>
      } 
      
      </p-dataView>
    </div>
  </div>

  <ng-template #listDefaultHeader>
    <kt-header 
      [config]="hdrConfig" 
      [graphic]="hdrGraphic" 
      [controls]="hdrControls" 
      [actions]="hdrActions"
    ></kt-header>
  </ng-template>