@use "../../../../assets/sass/variables" as *;
:host {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;

    &::ng-deep{


        p-dataview {
            .p-dataview-list{
                height: 100%;
                overflow: auto;
                padding-right: 20px;
            }
            p-dataview-content{
                background-color: none;
            }
    
        }

        ._thumb{
            width: 10%;
            height: 100%;
        }
        ._info{
            padding-left: 1rem;
            ._title{
                font-weight: 600;
            ._sub{
                font-weight: 600 !important;
                margin-right: 15px;
            }
            }
        }
    }

   

    .kt-table-wrapper{
        &.--sticky{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 50px;
            overflow: auto;

            &.--paged{
                bottom: 85px;
            }
        }
        
    }
    .kt-table{
        thead{
            border-bottom: solid 1px #dddddd;
        }
        tr,td{
            border-top: none;
            border-bottom: none;
            background-color: #f1f1f1;
        }
     
  
        
        &.--zebra{
            tr:nth-of-type(odd) {
                background-color: #e7e7e7;
                td{
                    background-color: #e7e7e7;
                }
              }
        }
        
    }

    &::ng-deep{

       
        tbody:hover{
            tr{
                opacity: .6;
                &:hover{
                    opacity: 1;
                    background-color: #fff !important;
                    color: #000 !important;
                    box-shadow: 0 0 5px 0px rgba(0, 0, 0, .4);
                }
            }
        }
        tr:hover{
        }
    }
}