<div class="grid kt-rel kt-list">
  <div class="col-12">
    <p-dataView
      #dv
      [value]="items"
      [totalRecords]="items?.length"
      [rows]="rows"
      [layout]="layout"
      [filterBy]="filterBy"
      [trackBy]="trackBy"
      [sortField]="sortField"
      [sortOrder]="sortOrder"
      [first]="first"
      [paginator]="paginator"
      [rowsPerPageOptions]="rowsPerPageOptions"
      [alwaysShowPaginator]="alwaysShowPaginator"
      [paginatorPosition]="paginatorPosition"
      [pageLinks]="pageLinks"
      [loading]="loading"
      [loadingIcon]="loadingIcon"
      [lazy]="lazy"
      [lazyLoadOnInit]="lazyLoadOnInit" 
      [gridStyleClass]="gridStyleClass"
      [styleClass]="styleClass"
      [emptyMessage]="emptyMessage"
    >

    <ng-template pTemplate="header">
      <ng-container *ngIf="!!headerTpl; else defaultHeader">
        <ng-container *ngTemplateOutlet="headerTpl"></ng-container>
      </ng-container>
    </ng-template>


      <ng-template pTemplate="header">
        <ng-container *ngIf="!!headerTpl; else defaultHeader">
          <ng-container *ngTemplateOutlet="headerTpl"></ng-container>
        </ng-container>
      </ng-template>
      
      <ng-template let-items pTemplate="list">
        <div *ngFor="let item of items; let first = first"><h2>{{item.title}}</h2>
        </div>  
        <!-- <ng-container *ngTemplateOutlet="listItemTpl"></ng-container> -->
      </ng-template>
      
      <!-- <ng-template pTemplate="gridItem">
        <ng-container *ngTemplateOutlet="gridItemTpl"></ng-container>
      </ng-template>
      
      @if(footerTpl){
      <ng-template pTemplate="footer">
        <ng-container *ngTemplateOutlet="footerTpl"></ng-container>
      </ng-template>
      } -->
      
      </p-dataView>
    </div>
  </div>

  <ng-template #defaultHeader>
    <h2>bbbbb</h2>
    <!-- <h2 class="p-dialog-title kt-ai-center-flex kt-rel" [ngClass]="{'kt-pdl50': headerIconClass}">
      <i *ngIf="headerIconClass" [ngClass]="{'kt-icon': headerIconClass.includes('icon-'), 'pi': headerIconClass.includes('pi-'), 'kt-animation-fade-in': true}" [attr.class]="headerIconClass"></i>
      <span class="kt-animation-slide-in-right kt-mrgl10">{{ label }}</span>
    </h2>
    <div *ngIf="headerActions && !!headerActions.length" class="kt-dialog-header-actions" [ngClass]="{'__group': (headerActionsGroup && headerActions.length > 1)}">
      <span class="kt-motion-fast _action" *ngFor="let action of headerActions">
          <kt-button [config]="action" (click)="action.command()" [attr.class]="action.hostClass"></kt-button>
      </span>
    </div> -->
  </ng-template>