

//remove when material css is removed
:host ::ng-deep {


    i.pi {
        width: 30px;
        font-size: 20px;
        color: #ccc;


    }


    label {
        font-size: .87rem;
        color: #9e9e9e !important;
    }


    input {


        &:focus,
        &.ng-invalid,
        &.ng-valid {
            box-shadow: none !important
        }


        &.ng-pristine {
            border: none
        }
    }


    .p-slider.p-slider-horizontal {
        margin-top: 20px;
    }


    .p-slider .p-slider-range {
        background: #00aeba;
    }


    .p-slider .p-slider-handle {
        border-color: #00aeba;
    }


    .p-slider .p-slider-handle:focus {
        box-shadow: 0 0 0 1px #9dd5f3;
    }


    .p-slider:not(.p-disabled) .p-slider-handle:hover {
        background: #00aeba;
        border-color: #00aeba;
    }


    .slider-bottom-labels {
        padding-top: 5px;
    }


    .end-slider {
        float: right;
    }


    .slider-inline-labels{
        position: relative;
        padding-left: 45px;
        padding-right: 45px;


        .slider-range-description{
            position: absolute;
            left:0;
            right: auto;
            top:-4px;
            bottom: auto;
            width: 100%;
            height: 30px;
            text-align: center;
            font-size: .9rem;
            color: #666;
        }


        .slider-bottom-labels{
            position: absolute;
            padding-top: 13px;
            color: #d3d3d3 !important;


            &.start-slider{
                left:0;
                right: auto;
                top:0;
                bottom: auto;
            }
            &.end-slider{
                left:auto;
                right: 0;
                top:0;
                bottom: auto;
            }
        }
    }
}