<main class="layout-wrapper">
  <div class="topbar">
    <div class="grid kt-width">
      <div class="col-12 logo">
        <div class="_graph">
          <img src="../assets/img/bizpoint-logo.svg"/>
        </div>
        <!-- <div class="_word kt-text-motion-color"> -->
          <div class="_word">
          <span class="kt-text-motion-color">job feed from <span>skårvättelpen</span>.no</span> 
        </div>
      </div>
    </div>   
</div>
<div class="content">
  <router-outlet />
</div>
</main>


