@use "assets/sass/index" as *;
@import './assets/sass/_normalize';
@import './assets/sass/_layout';
@import './assets/sass/overrides';


*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  height: 100%;
  font-family: $fontFamily;
  position: relative;
  overflow: hidden;
}
a{display: block; text-decoration: none;}
img{width:100%}
h1,h2,h3,h4,h5,h6{
  color: $blue;
  font-weight: 500;
}
button{
  color: inherit;
  background: none;
  outline: none;
  border: none;
}






@import './assets/sass/queries';