@use "assets/sass/index" as *;
@import './assets/sass/_normalize';
@import './assets/sass/_layout';
@import "primeicons/primeicons.css";
@import './assets/sass/overrides';

:root{
  --font-family: "Open Sans";
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  height: 100%;
  font-family: $fontFamily;
  position: relative;
  overflow: hidden;
}
a{display: block; text-decoration: none; color: #222;}
img{width:100%;vertical-align: top;}
h1,h2,h3,h4,h5,h6{
  font-weight: 500;
}
button{
  color: inherit;
  background: none;
  outline: none;
  border: none;
}
.pi:before{
  line-height: 0 !important
}



@import './assets/sass/queries';