:host ::ng-deep .custom-spinner .p-progress-spinner-circle {
  animation: custom-progress-spinner-dash 1.5s ease-in-out infinite, custom-progress-spinner-color 6s ease-in-out infinite;
}


@keyframes custom-progress-spinner-color {
  100%,
  0% {
    stroke: #01a5e2; opacity: 1;
  }
  40% {
    stroke: #1dd1a1; opacity: .3;
  }
  66% {
    stroke: #c436d8; opacity: 1;
  }
  80%,
  90% {
    stroke: #ff9f43; opacity: .3;
  }
}
