<!-- provide custom header ability -->
<div class="grid _header">
    <ng-template pTemplate="header">
        <ng-container *ngIf="!!headerTpl; else defaultHeader">
          <ng-container *ngTemplateOutlet="headerTpl"></ng-container>
        </ng-container>
      </ng-template>
</div>

<!-- provide default header fallback -->
<ng-template #defaultHeader>
    <div class="tk-header" [ngClass]="config?.cssClass" [ngStyle]="config?.styles"> 
    
        <div class="_graphic">
            <i *ngIf="graphic.iconClass" [attr.class]="graphic.iconClass" [attr.style]="graphic.iconStyle"></i>
            <div *ngIf="graphic.imgSrc" class="kt-bg-img-auto-fit" [style.background.url]="graphic.imgSrc"></div>
        </div>
    
        <div class="_main">
            <div class="_titles">
                <h2 class="__title">{{config.title}}</h2>
                <h5 class="__sub">{{config.subtitle}}</h5>
            </div>

            <div class="_controls">
                <kt-text
                    label="controls.filterCtrLabel"
                    class="kt-header-input-text"
                    name="filterModel"
                    [iconClass]="'pi pi-search'"
                    [searchFn$]="controls.searchFn"
                ></kt-text>

                <kt-dropdown
                    class="kt-double-control-first"
                    label="config?.sortCtrLabel"
                    name="sortModel"
                    [optionSetFn]="controls.sortFn"
                    [options]="controls.sortCtrlOptions"
                    [optionLabel]="controls.sortCtrlOptionLabel"
                    [optionValue]="controls.sortCtrlOptionValue"
                    [appendTo]="'body'"
                    >
                </kt-dropdown>
            </div>
            
            <div *ngIf="actions?.btns.length">
                <kt-actions [config]="actions"></kt-actions>
            </div>
        </div>
        <div class="_footer"></div>
    </div>
</ng-template>


