<div class="grid --header">
    <ng-template pTemplate="header">
        <ng-container *ngIf="!!headerTpl; else defaultHeader">
          <ng-container *ngTemplateOutlet="headerTpl"></ng-container>
        </ng-container>
      </ng-template>
</div>



<!-- default 3 segmented header -->
<ng-template #defaultHeader>
    <div class="col">
        <div class="_section --left --title">
            <i *ngIf="config?.iconClass" [attr.class]="config?.iconClass" [attr.style]="config?.iconStyle"></i>   
            <h2 [ngClass]="{'kt-pdl50': config?.headerIconClass}">{{config?.title}}</h2>
        </div>
    </div>
    <div class="col">
        <div [ngClass]="{'_section --mid': true}"
            [attr.class]="config?.intermediateClass">
            <ng-template pTemplate="body">
                <ng-container *ngIf="!!bodyTpl;">
                  <ng-container *ngTemplateOutlet="bodyTpl"></ng-container>
                </ng-container>
              </ng-template>
        </div>
    </div>
    <div class="col">
        <div class="_section --right">
            <div *ngIf="!!config?.headerActions?.length" class="_actions" [ngClass]="{'__group': config?.headerActionsGroup}">
                <span class="kt-motion-fast _action" *ngFor="let action of config?.headerActions">
                    <kt-button [config]="action" (click)="action.command()" [attr.class]="action.hostClass"></kt-button>
                </span>
            </div>
        </div>
    </div>
</ng-template>
>
