.jb-border-box{
    box-sizing: border-box;
  }
  .jb-rel {
    position: relative !important;
  }
  .jb-absolute{
    position: absolute !important;
  }
  .jb-abs-top{
    position: absolute !important;
    top: 0 !important
  }
  .jb-abs-bottom{
    position: absolute !important;
    bottom: 0 !important
  }
  .jb-abs-left{
    position: absolute !important;
    left: 0 !important
  }
  .jb-abs-right{
    position: absolute !important;
    right: 0 !important
  }
  .jb-fixed {
    position: fixed !important;
  }
  .jb-width {
    width: 100% !important;
  }
  .jb-no-width{
    width: 0 !important;
  }
  .jb-height {
    height: 100% !important;
  }
  .jb-half {
    height: 50% !important;
  }
  .jb-no-height{
    height: 0 !important;
  }
  .jb-two {
    width: 50%;
  }
  .jb-three {
    width: 33.3%;
  }
  .jb-four {
    width: 25%;
  }
  .jb-five {
    width: 20%;
  }
  .jb-six {
    width: 16.7%;
  }
  .jb-f-two {
    width: 50%;
    float: left;
  }
  .jb-three {
    width: 33.3%;
    float: left;
    &.jb-two-resp {
      @media (max-width: 1279px) {
        width: 50%;
      }
    }
  }
  .jb-four {
    width: 25%;
    float: left;
    &.jb-two-resp {
      @media (max-width: 1279px) {
        width: 50%;
      }
    }
  }
  .jb-five {
    width: 20%;
    float: left;
    &.jb-two-resp {
      @media (max-width: 1279px) {
        width: 50%;
      }
    }
  }
  .jb-six {
    width: 16.7%;
    float: left;
    &.jb-two-resp {
      @media (max-width: 1279px) {
        width: 50%;
      }
    }
  }
  .jb-two-three {
    width: 66%;
    float: left;
    &.jb-two-resp {
      @media (max-width: 1279px) {
        width: 50%;
      }
    }
  }
  .jb-four-five {
    width: 75%;
    float: left;
    &.jb-two-resp {
      @media (max-width: 1279px) {
        width: 50%;
      }
    }
  }
  .jb-flex-1{
    flex:1
  }
  .jb-flex-2{
    flex:2
  }
  .jb-flex-3{
    flex:3
  }
  .jb-flex-4{
    flex:4
  }
  .jb-flex-5{
    flex:5
  }
  .jb-flex-6{
    flex:6
  }
  .jb-left {
    float: left !important;
  }
  .jb-right {
    float: right !important;
  }
  .jb-hidden {
    overflow: hidden !important;
  }
  .jb-auto {
    overflow: auto !important;
  }
  .jb-round {
    border-radius: 100% !important;
  }
  .jb-border-rad-15 {
    border-radius: 15px !important;
  }
  .jb-border-rad-20 {
    border-radius: 20px !important;
  }
  .jb-border-rad-25 {
    border-radius: 25px !important;
  }
  .jb-border-rad-30 {
    border-radius: 30px !important;
  }
  .jb-border-rad-35 {
    border-radius: 35px !important;
  }
  .jb-pd-0_5rem{
    padding: 1rem !important;
  }
  .jb-pd-1rem{
    padding: 1rem !important;
  }
  .jb-pd-1_5rem{
    padding: 1rem !important;
  }
  .jb-pd-2rem{
    padding: 1rem !important;
  }
  .jb-mrg-0_5rem{
    margin: 0.5rem !important;
  }
  .jb-mrg-1rem{
    margin: 1rem !important;
  }
  .jb-mrg-1_5rem{
    margin: 1.5rem !important;
  }
  .jb-mrg-2rem{
    margin: 2rem !important;
  }
  .jb-pd0 {
    padding: 0 !important;
  }
  .jb-pdl0 {
    padding-left: 0 !important;
  }
  .jb-pdr0 {
    padding-right: 0 !important;
  }
  .jb-pdt0 {
    padding-top: 0 !important;
  }
  .jb-pdb0 {
    padding-bottom: 0 !important;
  }
  .jb-pd5 {
    padding: 5px !important;
  }
  .jb-pd10 {
    padding: 10px !important;
  }
  .jb-pd20 {
    padding: 20px !important;
  }
  .jb-pd30 {
    padding: 30px !important;
  }
  .jb-pd40 {
    padding: 40px !important;
  }
  .jb-pd50 {
    padding: 50px !important;
  }
  .jb-pdr5 {
    padding-right: 5px !important;
  }
  .jb-pdr10 {
    padding-right: 10px !important;
  }
  .jb-pdr20 {
    padding-right: 20px !important;
  }
  .jb-pdr30 {
    padding-right: 30px !important;
  }
  .jb-pdr40 {
    padding-right: 40px !important;
  }
  .jb-pdl5 {
    padding-left: 5px !important;
  }
  .jb-pdl10 {
    padding-left: 10px !important;
  }
  .jb-pdl20 {
    padding-left: 20px !important;
  }
  .jb-pdl30 {
    padding-left: 30px !important;
  }
  .jb-pdl40 {
    padding-left: 40px !important;
  }
  .jb-pdb10 {
    padding-bottom: 10px !important;
  }
  .jb-pdb20 {
    padding-bottom: 20px !important;
  }
  .jb-pdb30 {
    padding-bottom: 30px !important;
  }
  .jb-pdb40 {
    padding-bottom: 40px !important;
  }
  .jb-pdb50 {
    padding-bottom: 50px !important;
  }
  .jb-pdt10 {
    padding-top: 10px !important;
  }
  .jb-pdt15 {
    padding-top: 15px !important;
  }
  .jb-pdt20 {
    padding-top: 20px !important;
  }
  .jb-pdt25 {
    padding-top: 25px !important;
  }
  .jb-pdt30 {
    padding-top: 30px !important;
  }
  .jb-pdt40 {
    padding-top: 40px !important;
  }
  .jb-pdt50 {
    padding-top: 50px !important;
  }
  .jb-mrg0{
    margin: 0 !important;
  }
   .jb-mrgl5 {
    margin-left: 5px !important;
  }
  .jb-mrgl10 {
    margin-left: 10px !important;
  }
  .jb-mrgl20 {
    margin-left: 20px !important;
  }
  .jb-mrgl30 {
    margin-left: 30px !important;
  }
  .jb-mrgl40 {
    margin-left: 40px !important;
  }
  .jb-mrgr0 {
    margin-right: 0 !important;
  }
  .jb-mrgr5 {
    margin-right: 5px !important;
  }
  .jb-mrgr10 {
    margin-right: 10px !important;
  }
  .jb-mrgr20 {
    margin-right: 20px !important;
  }
  .jb-mrgr30 {
    margin-right: 30px !important;
  }
  .jb-mrgr40 {
    margin-right: 40px !important;
  }
  .jb-mrgr50 {
    margin-right: 50px !important;
  }
  .jb-mrgb10 {
    margin-bottom: 10px !important;
  }
  .jb-mrgb20 {
    margin-bottom: 20px !important;
  }
  .jb-mrgb30 {
    margin-bottom: 30px !important;
  }
  .jb-mrgb40 {
    margin-bottom: 40px !important;
  }
  .jb-mrgt5 {
    margin-top: 5px !important;
  }
  .jb-mrgt10 {
    margin-top: 10px !important;
  }
  .jb-mrgt20 {
    margin-top: 20px !important;
  }
  .jb-mrgt30 {
    margin-top: 30px !important;
  }
  .jb-mrgt40 {
    margin-top: 40px !important;
  }
  .jb-mrgt50 {
    margin-top: 50px !important;
  }
  .jb-tbl-auto {
    table-layout: auto !important;
  }
  .jb-tbl-zebra tr:nth-child(odd) {
    background-color: #f5f7f7 !important;
  }
  .jb-trim {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .jb-section {
    width: 100%;
    float: left;
    margin-bottom: 15px;
  }
  .jb-section-float {
    width: 100%;
    float: left;
  }
  .jb-section-flex {
    display: flex;
    margin-bottom: 20px;
  }
  @mixin Jb-motion-fast-mixin{
    -webkit-transition: all 200ms ease-out !important;
    -moz-transition: all 200ms ease-out !important;
    -o-transition: all 200ms ease-out !important;
    transition: all 200ms ease-out !important;
  }
  @mixin Jb-motion-mixin{
    -webkit-transition: all 500ms ease-out !important;
    -moz-transition: all 500ms ease-out !important;
    -o-transition: all 500ms ease-out !important;
    transition: all 500ms ease-out !important;
  }
  @mixin Jb-motion-slow-mixin{
    -webkit-transition: all 1800ms ease-out !important;
    -moz-transition: all 1800ms ease-out !important;
    -o-transition: all 1800ms ease-out !important;
    transition: all 1800ms ease-out !important;
  }
  .jb-motion-fast {
    @include Jb-motion-fast-mixin;
  }
  .jb-motion {
    @include Jb-motion-mixin;
  }
  .jb-motion-slow {
    @include Jb-motion-slow-mixin;
  }
  .jb-dialog-motion-fast {
    .p-dialog{
      @include Jb-motion-fast-mixin;
    }
  }
  .jb-dialog-motion {
    .p-dialog{
      @include Jb-motion-mixin;
    }
  }
  .jb-dialog-motion-slow {
    .p-dialog{
      @include Jb-motion-slow-mixin;
    }
  }
  .jb-motion-delay-fast{
    transition-delay: 200ms;
  }
  .jb-motion-delay{
    transition-delay: 500ms;
  }
  .jb-motion-delay-slow{
    transition-delay: 1800ms;
  }
  @mixin Jb-valign-mixin {
    position: absolute !important;
    top: 50% !important;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .jb-valign {
    @include Jb-valign-mixin;
  }
  .jb-valign-flex {
    display: flex !important;
    align-items: center !important;
  }
  @mixin Jb-coloumn-flex-mixin{
    display: flex;
    align-items: stretch;
    height: 100%;
    flex-flow: column nowrap;
  }
  .jb-coloumn-flex {
    @include Jb-coloumn-flex-mixin;
  }
  
  .jb-row-flex {
      display: flex;
      align-items: stretch;
      width: 100%; 
      flex-flow: row wrap;
    }
  .jb-flex {
    display: flex !important;
  }
  .jb-ai-stretch-flex{
    display: flex !important;
    align-items: stretch !important;
  }
  .jb-ai-center-flex {
    display: flex !important;
    align-items: center;
  }
  .jb-jc-space-around-flex {
    display: flex !important;
    justify-content: space-around !important;
  }
  .jb-jc-space-between-flex {
    display: flex !important;
    justify-content: space-between !important;
  }
  .jb-jc-end-flex {
    display: flex !important;
    justify-content: flex-end !important;
  }
  .jb-jc-center-flex {
    display: flex !important;
    justify-content: center !important;
  }
  .jb-ai-jc-center-flex{
    display: flex !important;
    align-items: center;
    justify-content: center !important;
  }
  .jb-stretch-flex{
    display: flex !important;
    align-items: stretch !important;
  }
  .jb-ac-space-around-flex{
    display: flex !important;
    align-content: space-around !important;
  }
  .jb-select-grid {
    display: grid;
    grid-gap: 10px;
  }
  .jb-select-grid-checker {
    grid-gap: 10px;
    grid-template-columns: 12px 86px 1fr !important;
  }
  .jb-select-grid-checker-col-2 {
    grid-gap: 10px;
    grid-template-columns: 20px 1fr !important;
  }
  
  
  .jb-pic{
    overflow: hidden;
    position: relative;
  }
  .jb-img, .jb-pic img{
    width: 100% !important;
    vertical-align: top;
  }
  .jb-bg-img-auto-fit{
    padding-bottom: 100%;
    overflow: hidden;
    position: relative;
    background: no-repeat center/cover;
  }
  
  
  .jb-square {
    width: 100%;
    position: relative;
  
  
    &:after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }
  
  
    .jb-square-content{
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  
  
  @mixin Jb-align-mixin {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .jb-align {
    @include Jb-align-mixin;
  }
  .jb-font-weight-normal{
    font-weight: normal !important;
  }
  .jb-font-weight-bold{
    font-weight: bold !important;
  }
  .jb-bg-color-white{
    background-color: #fff !important;
  }
  .jb-bg-transparent {
    background-color: transparent !important;
  }
  .jb-txt-color-blue {
    color: #4285f4 !important;
  }
  .jb-txt-color-green {
    color: #00ba61 !important;
  }
  .jb-txt-color-light-grey {
    color: #ccc !important;
  };
  .jb-txt-color-grey {
    color: #999 !important;
  };
  .jb-txt-left {
    text-align: left !important;
  }
  .jb-txt-right {
    text-align: right !important;
  }
  .jb-txt-center {
    text-align: center !important;
  }
  .jb-border-gradient {
    border: 10px solid;
    border-image-slice: 1;
    border-width: 2px;
  }
  .jb-border-only-top {
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
  }
  .jb-border-only-bottom {
    border-left: 0;
    border-right: 0;
    border-top: 0;
  }
  .jb-font-100{
    font-weight: 100 !important;
  }
  .jb-font-300{
    font-weight: 300 !important;
  }
  .jb-font-500{
    font-weight: 500 !important;
  }
  .jb-font-700{
    font-weight: 700 !important;
  }
  .jb-opac {
    opacity: 0.4 !important;
  }
  .jb-transparent {
    opacity: 0;
  }
  .jb-colorize{
    *{
      color: inherit !important;
    }
  }
  @mixin Jb-shadow-mixin {
    -webkit-box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.6);
  }
  .jb-shadow {
    @include Jb-shadow-mixin;
  }
  .jb-press {
    cursor: pointer !important;
  }
  .jb-nowrap {
    white-space: nowrap !important;
  }
  .jb-txt-wrap {
    white-space: normal !important;
  }
  .jb-gpu-accelerate {
    transform: translateZ(0);
  }
  @mixin Jb-overlay-mixin {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
    background-color: inherit;
    z-index: 9999;
  }
  .jb-overlay {
    @include Jb-overlay-mixin;
  }
  .jb-overlay-white {
    @include Jb-overlay-mixin;
    background-color: rgba(255,255,255,.4);
  }
  .jb-overlay-black {
    @include Jb-overlay-mixin;
    background-color: rgba(0,0,0,.4);
  }
  .jb-block {
    display: block !important;
  }
  .jb-inline-block {
    display: inline-block !important;
  }
  .jb-readonly-input,
  .jb-readonly-input [type='text'] {
    color: #495057 !important;
    opacity: 1 !important;
  }
  .jb-input-inline {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .jb-form-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .jb-display-none {
    display: none !important;
  }
  .jb-invisible{
    visibility: hidden;
  }
  .jb-b-w{
    filter: grayscale(1);
  }
  .jb-user-select-none{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .jb-motion-delay-1s{
    animation-delay: 1s;
  }
  .jb-motion-delay-2s{
    animation-delay: 2s;
  }
  .jb-motion-delay-3s{
    animation-delay: 3s;
  }
  .jb-motion-delay-4s{
    animation-delay: 4s;
  }
  .jb-motion-delay-5s{
    animation-delay: 5s;
  }
  
  





.jb-swipe-vertical-motion{
  animation: swipeVertical 5s ease 0s 1 normal forwards;
}


@keyframes swipeVertical {
  0%, 60%, 100% { transform: translateY(0); }
  10%, 30%, 50% { transform: translateY(-12px); }
  20%, 40% { transform: translateY(12px);}
}


  
  .jb-blink{
    animation: blink 2s ease 0s 1 normal forwards;
  }
  @keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 0.2;}
    100% {opacity: 1;}
  }
  
  
  .jb-animation-fade-in{
    animation: fadein 3s ease 0s 1 normal forwards;
  }
  @keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1 !important;}
  }
  
  @keyframes fadeout {
    0% {opacity: 1;}
    100% {opacity: 0;}
  }
  
  
  .jb-animation-fade-out{
    animation: fadeout 3s ease 0s 1 normal forwards;
  }
  
  
  .jb-animation-slide-in-right{
    animation: slideInRight 1s ease 0s 1 normal forwards;;
  }

  
  
  @keyframes slideInRight {
    0% {
      opacity: 0;
      transform: translateX(20px);
    }
  
  
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  
  .jb-swirl-in-forward{
    animation: swirlInForward 1s ease 0s 1 normal forwards;
  }
  
  
  .jb-motion-delay-1{
    animation-delay: 1s;
  }
  .jb-motion-delay-2{
    animation-delay: 2s;
  }
  .jb-motion-delay-3{
    animation-delay: 3s;
  }
  .jb-motion-delay-4{
    animation-delay: 4s;
  }
  .jb-motion-delay-5{
    animation-delay: 5s;
  }
  
  
  @keyframes swirlInForward {
    0% {
      opacity: 0;
      transform: rotate(-540deg) scale(0);
    }
  
  
    100% {
      opacity: 1;
      transform: rotate(0) scale(1);
    }
  }
  
  
  .jb-translator {}
  
  