@use 'variables';
@use 'helpers';
:root{
  --gradient-multi: linear-gradient(to right, #ffd30f, #F44336, #66db49, #c7ffbc);
  --gradient-multi-to-left: linear-gradient(to left, #0f63ff, #66db49);
  --gradient-ultra:linear-gradient(to right, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  // --gradient-ultra:linear-gradient(to right, #ffd30f, #4574ca, #82c272, #b14bca);
  --topbar-height: 110px;
  --bg-color: #f0f0f0;
}
// #ee7752, #e73c7e, #23a6d5, #23d5ab
.layout-wrapper{
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    // background-color: var(--bg-color);
    
  
  
    .topbar{
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      height: var(--topbar-height);
      // padding-top: 3vh;

  
        .logo{    
          width: 100%;
          ._graph{
            width: 100%;
            border: 10px solid;
            border-width: 2px;
            border-image-source: var(--gradient-multi);
            border-image-slice: 2%;
            border-left: 0;
            border-right: 0;
            border-top: 0;
            background-color: #f9f9f9;
            padding-top: 1rem;
            img{
              max-width: 360px;
              min-width: 280px;
              width: 30%;
              margin: 0 auto -2px auto;
              display: block;
            }
          }
          ._word{
            color: var(--gray-500);
            font-weight: 100 !important;
            text-align: center;
            font-size: 2.3vh;
            margin: -2px auto 0;
            background: #fff;
            max-width: 352px;
            min-width: 273px;
            width: 33%;
            padding-top: 6px;

          }
        }
      
        
    }
  
    .content{
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      // padding: var(--content-padding);
      padding: 1.2rem 10% 0;
      top: var(--topbar-height);
      .--docked{
        @include helpers.kt-coloumn-flex-mixin;
        @include helpers.kt-motion-slow-mixin;
      }
    }
  }

  
  // border-image-source: linear-gradient(to right, #F44336, #E91E63, #9C27B0, #673AB7, #3F51B5,#4285f4, #00BCD4, #009688, #4CAF50);