@use "../sass/variables" as *;

@layer reset, primeng;

/* Reset CSS */
@layer primeng {
    .p-inputtext{
        box-shadow: none !important;
        border-radius: 30px; 
        border: 1px solid transparent; 
        background: linear-gradient(to right, #ee7752, #e73c7e, #23a6d5, #23d5ab) border-box; /*3*/
        mask: 
            linear-gradient(#000 0 0) padding-box, 
            linear-gradient(#000 0 0);
        mask-composite: exclude;
    }
}